<i class="fa fa-calendar"></i>&nbsp;&nbsp;
<time datetime="{{ .Date }}">{{ .Date.Format .Site.Params.date_format }}</time>&nbsp;&nbsp;

{{ if .Site.Params.Show_read_time }}{{ .ReadingTime }} min read&nbsp;&nbsp;{{ end }}

{{ if isset .Params "category" }}
    {{ $categoryLen := len .Params.category }}
    {{ if gt $categoryLen 0 }}
        <i class="fa fa-folder"></i>&nbsp;&nbsp;
        {{ range $k, $v := .Params.category }}
        <a class="article-category-link" href="{{ $.Site.BaseURL }}category/{{ . | urlize | lower }}">{{ . }}</a>
        {{ if lt $k (sub $categoryLen 1) }}&middot;{{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if isset .Params "tag" }}
   {{ $tagLen := len .Params.tag }}
   {{ if gt $tagLen 0 }}
       &nbsp;&nbsp;<i class="fa fa-tag"></i>&nbsp;&nbsp;
       {{ range $k, $v := .Params.tag }}
       <a class="article-category-link" href="{{ $.Site.BaseURL }}tag/{{ . | urlize | lower }}">{{ . }}</a>
       {{ if lt $k (sub $tagLen 1) }}&middot;{{ end }}
       {{ end }}
   {{ end }}
{{ end }}

{{ if isset .Params "author" }}
    {{ $authorsLen := len .Params.author }}
    {{ if gt $authorsLen 0 }}
        {{ range $k, $v := .Params.author }}
	<br/>        
	<a class="article-category-link" href="{{ $.Site.BaseURL }}author/{{ . | urlize | lower }}">Author: {{ . }}</a>
        {{ if lt $k (sub $authorsLen 1) }}&middot;{{ end }}
        {{ end }}
    {{ end }}
{{ end }}

